<footer style="position: relative; background: url('/assets/Shree-Mahakaleshwar-Temple.webp') no-repeat center center; background-size: cover; min-height: 450px; font-family: sans-serif; color: #fff;">
<div style="display: flex; flex-wrap: wrap; justify-content: center; text-align: center; gap: 40px; padding-top: 60px;">

    <div>
      <h2 style="color: red;">Pujasewa.</h2>
      <p><strong>Phone:</strong> +91 91090 01609<br>+91 99812 07710</p>
      <p><strong>Email:</strong> info@pujasewa.com</p>
    </div>


    <div>
      <h3><strong>Our Social Networks</strong></h3>
      <p>
        <a href="#"><img src="https://img.icons8.com/color/24/twitter--v1.png"/></a>
        <a href="#"><img src="https://img.icons8.com/color/24/facebook-new.png"/></a>
        <a href="#"><img src="https://img.icons8.com/color/24/instagram-new.png"/></a>
        <a href="#"><img src="https://img.icons8.com/color/24/linkedin.png"/></a>
        <a href="#"><img src="https://img.icons8.com/color/24/youtube-play.png"/></a>
      </p>
    </div>

    <div>
      <p><strong>For Cash/Cheque Payment</strong><br><a href="#">Please Click Here</a></p>
      <img src="/assets/unnamed.png" alt="QR Code" width="100"/>
    </div>

    <div>
      <h3><strong>Address:</strong></h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit<br>
      Vestibulum vehicula sapien nec orci dignissim, non ultricies libero
      </p>
    </div>

  </div>

  <div style="position: absolute; bottom: 0; left: 0; width: 100%; background: #f0501e; color: white; text-align: center; padding: 10px;">
    © 2025 Copyright Pujasewa. All Rights Reserved |
    <small>Designed by <a href="#" style="color: white;">abcdefgh.com</a></small>
  </div>
</footer>	
